/config/environment.env
/.idea/
/build/venv/
/build/build.iml
/config/composes/environment.env
/.idea/**
/config/composes/.env
/config/bigquery/credentials.json

# Python cache
__pycache__/
*.pyc

# venv
venv/
.config/composes/new_client_app/venv/