package dti.crmsis.back.clients.openapi.v1.api;

import java.util.List;
import java.util.Map;


import dti.crmsis.back.clients.openapi.v1.model.AddActivityRequest;
import dti.crmsis.back.clients.openapi.v1.model.AddActivityResponse;
import java.math.BigDecimal;
import dti.crmsis.back.clients.openapi.v1.model.DeleteActivitiesResponse;
import dti.crmsis.back.clients.openapi.v1.model.DeleteActivityResponse;
import dti.crmsis.back.clients.openapi.v1.model.FailResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetActivitiesCollectionResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetActivitiesResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetActivityResponse;
import java.time.LocalDate;
import dti.crmsis.back.clients.openapi.v1.model.UpdateActivityRequest;
import dti.crmsis.back.clients.openapi.v1.model.UpdateActivityResponse;
/**
  * Pipedrive API v1
  * <p>No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)</p>
  */
@jakarta.ws.rs.Path("/activities")
@io.quarkiverse.openapi.generator.annotations.GeneratedClass(value="openapi.yaml", tag = "Activities")
@jakarta.enterprise.context.ApplicationScoped
public interface ActivitiesApi {

     /**
     * Add an activity
     *
     * Adds a new activity. Includes `more_activities_scheduled_in_context` property in response's `additional_data` which indicates whether there are more undone activities scheduled with the same deal, person or organization (depending on the supplied data). For more information, see the tutorial for <a href=\"https://pipedrive.readme.io/docs/adding-an-activity\" target=\"_blank\" rel=\"noopener noreferrer\">adding an activity</a>. <br /> <br /> ***Starting from 30.09.2024, activity attendees will receive updates only if the activity owner has an active calendar sync***
     *
     * @param addActivityRequest 
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="addActivity", method="POST", path="/v1/activities")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="addActivity", method="POST", path="/v1/activities")
    @jakarta.ws.rs.POST
    @jakarta.ws.rs.Consumes({"application/json"})
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("addActivity")
    public AddActivityResponse addActivity(
        AddActivityRequest addActivityRequest
    );

     /**
     * Delete multiple activities in bulk
     *
     * Marks multiple activities as deleted. After 30 days, the activities will be permanently deleted.
     *
     * @param ids The comma-separated IDs of activities that will be deleted
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="deleteActivities", method="DELETE", path="/v1/activities")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="deleteActivities", method="DELETE", path="/v1/activities")
    @jakarta.ws.rs.DELETE
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("deleteActivities")
    public DeleteActivitiesResponse deleteActivities(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("ids") @jakarta.ws.rs.QueryParam("ids") String ids
    );

     /**
     * Delete an activity
     *
     * Marks an activity as deleted. After 30 days, the activity will be permanently deleted.
     *
     * @param id The ID of the activity
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="deleteActivity", method="DELETE", path="/v1/activities/{id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="deleteActivity", method="DELETE", path="/v1/activities/{id}")
    @jakarta.ws.rs.DELETE
    @jakarta.ws.rs.Path("/{id}")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("deleteActivity")
    public DeleteActivityResponse deleteActivity(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id
    );

     /**
     * Get all activities assigned to a particular user
     *
     * Returns all activities assigned to a particular user.
     *
     * @param userId The ID of the user whose activities will be fetched. If omitted, the user associated with the API token will be used. If 0, activities for all company users will be fetched based on the permission sets.
     * @param filterId The ID of the filter to use (will narrow down results if used together with `user_id` parameter)
     * @param type The type of the activity, can be one type or multiple types separated by a comma. This is in correlation with the `key_string` parameter of ActivityTypes.
     * @param limit For pagination, the limit of entries to be returned. If not provided, 100 items will be returned.
     * @param start For pagination, the position that represents the first result for the page
     * @param startDate Use the activity due date where you wish to begin fetching activities from. Insert due date in YYYY-MM-DD format.
     * @param endDate Use the activity due date where you wish to stop fetching activities from. Insert due date in YYYY-MM-DD format.
     * @param done Whether the activity is done or not. 0 = Not done, 1 = Done. If omitted returns both done and not done activities.
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getActivities", method="GET", path="/v1/activities")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getActivities", method="GET", path="/v1/activities")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getActivities")
    public GetActivitiesResponse getActivities(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("user_id") @jakarta.ws.rs.QueryParam("user_id") Integer userId, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("filter_id") @jakarta.ws.rs.QueryParam("filter_id") Integer filterId, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("type") @jakarta.ws.rs.QueryParam("type") String type, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start") @jakarta.ws.rs.QueryParam("start") Integer start, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start_date") @jakarta.ws.rs.QueryParam("start_date") LocalDate startDate, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("end_date") @jakarta.ws.rs.QueryParam("end_date") LocalDate endDate, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("done") @jakarta.ws.rs.QueryParam("done") BigDecimal done
    );

     /**
     * Get all activities (BETA)
     *
     * Returns all activities. This is a cursor-paginated endpoint that is currently in BETA. For more information, please refer to our documentation on <a href=\"https://pipedrive.readme.io/docs/core-api-concepts-pagination\" target=\"_blank\" rel=\"noopener noreferrer\">pagination</a>. Please note that only global admins (those with global permissions) can access these endpoints. Users with regular permissions will receive a 403 response. Read more about global permissions <a href=\"https://support.pipedrive.com/en/article/global-user-management\" target=\"_blank\" rel=\"noopener noreferrer\">here</a>.
     *
     * @param cursor For pagination, the marker (an opaque string value) representing the first item on the next page
     * @param limit For pagination, the limit of entries to be returned. If not provided, 100 items will be returned. Please note that a maximum value of 500 is allowed.
     * @param since The time boundary that points to the start of the range of data. Datetime in ISO 8601 format. E.g. 2022-11-01 08:55:59. Operates on the `update_time` field.
     * @param until The time boundary that points to the end of the range of data. Datetime in ISO 8601 format. E.g. 2022-11-01 08:55:59. Operates on the `update_time` field.
     * @param userId The ID of the user whose activities will be fetched. If omitted, all activities are returned.
     * @param done Whether the activity is done or not. `false` = Not done, `true` = Done. If omitted, returns both done and not done activities.
     * @param type The type of the activity, can be one type or multiple types separated by a comma. This is in correlation with the `key_string` parameter of ActivityTypes.
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getActivitiesCollection", method="GET", path="/v1/activities/collection")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getActivitiesCollection", method="GET", path="/v1/activities/collection")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/collection")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getActivitiesCollection")
    public GetActivitiesCollectionResponse getActivitiesCollection(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("cursor") @jakarta.ws.rs.QueryParam("cursor") String cursor, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("since") @jakarta.ws.rs.QueryParam("since") String since, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("until") @jakarta.ws.rs.QueryParam("until") String until, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("user_id") @jakarta.ws.rs.QueryParam("user_id") Integer userId, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("done") @jakarta.ws.rs.QueryParam("done") Boolean done, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("type") @jakarta.ws.rs.QueryParam("type") String type
    );

     /**
     * Get details of an activity
     *
     * Returns the details of a specific activity.
     *
     * @param id The ID of the activity
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getActivity", method="GET", path="/v1/activities/{id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getActivity", method="GET", path="/v1/activities/{id}")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getActivity")
    public GetActivityResponse getActivity(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id
    );

     /**
     * Update an activity
     *
     * Updates an activity. Includes `more_activities_scheduled_in_context` property in response's `additional_data` which indicates whether there are more undone activities scheduled with the same deal, person or organization (depending on the supplied data). <br /> <br /> ***Starting from 30.09.2024, activity attendees will receive updates only if the activity owner has an active calendar sync***
     *
     * @param id The ID of the activity
     * @param updateActivityRequest 
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="updateActivity", method="PUT", path="/v1/activities/{id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="updateActivity", method="PUT", path="/v1/activities/{id}")
    @jakarta.ws.rs.PUT
    @jakarta.ws.rs.Path("/{id}")
    @jakarta.ws.rs.Consumes({"application/json"})
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("updateActivity")
    public UpdateActivityResponse updateActivity(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        UpdateActivityRequest updateActivityRequest
    );

}