package dti.crmsis.back.clients.openapi.v1.api;

import java.util.List;
import java.util.Map;


import dti.crmsis.back.clients.openapi.v1.model.AddCallLogRequest;
import dti.crmsis.back.clients.openapi.v1.model.BaseResponse;
import dti.crmsis.back.clients.openapi.v1.model.CallLogBadRequestResponse;
import dti.crmsis.back.clients.openapi.v1.model.CallLogConflictResponse;
import dti.crmsis.back.clients.openapi.v1.model.CallLogForbiddenResponse;
import dti.crmsis.back.clients.openapi.v1.model.CallLogGoneResponse;
import dti.crmsis.back.clients.openapi.v1.model.CallLogInternalErrorResponse;
import dti.crmsis.back.clients.openapi.v1.model.CallLogNotFoundResponse;
import java.io.File;
import dti.crmsis.back.clients.openapi.v1.model.GetCallLogResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetCallLogsResponse;
/**
  * Pipedrive API v1
  * <p>No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)</p>
  */
@jakarta.ws.rs.Path("/callLogs")
@io.quarkiverse.openapi.generator.annotations.GeneratedClass(value="openapi.yaml", tag = "CallLogs")
@jakarta.enterprise.context.ApplicationScoped
public interface CallLogsApi {

     /**
     * Add a call log
     *
     * Adds a new call log.
     *
     * @param addCallLogRequest 
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="addCallLog", method="POST", path="/v1/callLogs")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="addCallLog", method="POST", path="/v1/callLogs")
    @jakarta.ws.rs.POST
    @jakarta.ws.rs.Consumes({"application/json"})
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("addCallLog")
    public GetCallLogResponse addCallLog(
        AddCallLogRequest addCallLogRequest
    );

     /**
     * Attach an audio file to the call log
     *
     * Adds an audio recording to the call log. That audio can be played by those who have access to the call log object.
     *
     * @param id The ID received when you create the call log
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="addCallLogAudioFile", method="POST", path="/v1/callLogs/{id}/recordings")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="addCallLogAudioFile", method="POST", path="/v1/callLogs/{id}/recordings")
    @jakarta.ws.rs.POST
    @jakarta.ws.rs.Path("/{id}/recordings")
    @jakarta.ws.rs.Consumes({"multipart/form-data"})
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("addCallLogAudioFile")
    public BaseResponse addCallLogAudioFile(
        @jakarta.ws.rs.BeanParam AddCallLogAudioFileMultipartForm multipartForm,
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")String id
        
        
        
        
    );

    public static class AddCallLogAudioFileMultipartForm {
        @jakarta.ws.rs.FormParam("file")
        @org.jboss.resteasy.reactive.PartFilename("fileFile")
        @org.jboss.resteasy.reactive.PartType(jakarta.ws.rs.core.MediaType.APPLICATION_OCTET_STREAM)
        public File _file;
    }

     /**
     * Delete a call log
     *
     * Deletes a call log. If there is an audio recording attached to it, it will also be deleted. The related activity will not be removed by this request. If you want to remove the related activities, please use the endpoint which is specific for activities.
     *
     * @param id The ID received when you create the call log
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="deleteCallLog", method="DELETE", path="/v1/callLogs/{id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="deleteCallLog", method="DELETE", path="/v1/callLogs/{id}")
    @jakarta.ws.rs.DELETE
    @jakarta.ws.rs.Path("/{id}")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("deleteCallLog")
    public BaseResponse deleteCallLog(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")String id
    );

     /**
     * Get details of a call log
     *
     * Returns details of a specific call log.
     *
     * @param id The ID received when you create the call log
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getCallLog", method="GET", path="/v1/callLogs/{id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getCallLog", method="GET", path="/v1/callLogs/{id}")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getCallLog")
    public GetCallLogResponse getCallLog(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")String id
    );

     /**
     * Get all call logs assigned to a particular user
     *
     * Returns all call logs assigned to a particular user.
     *
     * @param start Pagination start
     * @param limit For pagination, the limit of entries to be returned. The upper limit is 50.
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getUserCallLogs", method="GET", path="/v1/callLogs")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getUserCallLogs", method="GET", path="/v1/callLogs")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getUserCallLogs")
    public GetCallLogsResponse getUserCallLogs(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start") @jakarta.ws.rs.QueryParam("start") Integer start, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit
    );

}