package dti.crmsis.back.clients.openapi.v1.api;

import java.util.List;
import java.util.Map;


import dti.crmsis.back.clients.openapi.v1.model.GetCurrenciesResponse;
/**
  * Pipedrive API v1
  * <p>No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)</p>
  */
@jakarta.ws.rs.Path("/currencies")
@io.quarkiverse.openapi.generator.annotations.GeneratedClass(value="openapi.yaml", tag = "Currencies")
@jakarta.enterprise.context.ApplicationScoped
public interface CurrenciesApi {

     /**
     * Get all supported currencies
     *
     * Returns all supported currencies in given account which should be used when saving monetary values with other objects. The `code` parameter of the returning objects is the currency code according to ISO 4217 for all non-custom currencies.
     *
     * @param term Optional search term that is searched for from currency's name and/or code
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getCurrencies", method="GET", path="/v1/currencies")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getCurrencies", method="GET", path="/v1/currencies")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getCurrencies")
    public GetCurrenciesResponse getCurrencies(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("term") @jakarta.ws.rs.QueryParam("term") String term
    );

}