package dti.crmsis.back.clients.openapi.v1.api;

import java.util.List;
import java.util.Map;


import dti.crmsis.back.clients.openapi.v1.model.AddDealFollowerRequest;
import dti.crmsis.back.clients.openapi.v1.model.AddDealFollowerResponse;
import dti.crmsis.back.clients.openapi.v1.model.AddDealParticipantRequest;
import dti.crmsis.back.clients.openapi.v1.model.AddDealProductRequest;
import dti.crmsis.back.clients.openapi.v1.model.AddDealRequest;
import dti.crmsis.back.clients.openapi.v1.model.AddParticipantsResponse;
import java.math.BigDecimal;
import dti.crmsis.back.clients.openapi.v1.model.DeleteDealFollowerResponse;
import dti.crmsis.back.clients.openapi.v1.model.DeleteDealParticipantResponse;
import dti.crmsis.back.clients.openapi.v1.model.DeleteDealProductResponse;
import dti.crmsis.back.clients.openapi.v1.model.DeleteDealResponse;
import dti.crmsis.back.clients.openapi.v1.model.DeleteDealsResponse;
import dti.crmsis.back.clients.openapi.v1.model.FailResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetAddProductAttachmentDetailsResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetAddedDealResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetAssociatedFilesResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetAssociatedMailMessagesResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetChangelogResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetDealActivitiesResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetDealParticipantsResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetDealResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetDealSearchResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetDealUpdatesResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetDealsCollectionResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetDealsResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetDealsSummaryResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetDealsTimelineResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetDuplicatedDealResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetListFollowersResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetMergedDealResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetParticipantsChangelogResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetPermittedUsersResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetPersonsResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetProductAttachmentDetailsResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetProductsResponse;
import java.time.LocalDate;
import dti.crmsis.back.clients.openapi.v1.model.MergeDealsRequest;
import dti.crmsis.back.clients.openapi.v1.model.UpdateDealProductRequest;
import dti.crmsis.back.clients.openapi.v1.model.UpdateDealRequest;
/**
  * Pipedrive API v1
  * <p>No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)</p>
  */
@jakarta.ws.rs.Path("/deals")
@io.quarkiverse.openapi.generator.annotations.GeneratedClass(value="openapi.yaml", tag = "Deals")
@jakarta.enterprise.context.ApplicationScoped
public interface DealsApi {

     /**
     * Add a deal
     *
     * Adds a new deal. All deals created through the Pipedrive API will have a `origin` set to `API`. Note that you can supply additional custom fields along with the request that are not described here. These custom fields are different for each Pipedrive account and can be recognized by long hashes as keys. To determine which custom fields exists, fetch the dealFields and look for `key` values. For more information, see the tutorial for <a href=\"https://pipedrive.readme.io/docs/creating-a-deal\" target=\"_blank\" rel=\"noopener noreferrer\">adding a deal</a>.
     *
     * @param addDealRequest 
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="addDeal", method="POST", path="/v1/deals")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="addDeal", method="POST", path="/v1/deals")
    @jakarta.ws.rs.POST
    @jakarta.ws.rs.Consumes({"application/json"})
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("addDeal")
    public GetAddedDealResponse addDeal(
        AddDealRequest addDealRequest
    );

     /**
     * Add a follower to a deal
     *
     * Adds a follower to a deal.
     *
     * @param id The ID of the deal
     * @param addDealFollowerRequest 
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="addDealFollower", method="POST", path="/v1/deals/{id}/followers")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="addDealFollower", method="POST", path="/v1/deals/{id}/followers")
    @jakarta.ws.rs.POST
    @jakarta.ws.rs.Path("/{id}/followers")
    @jakarta.ws.rs.Consumes({"application/json"})
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("addDealFollower")
    public AddDealFollowerResponse addDealFollower(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        AddDealFollowerRequest addDealFollowerRequest
    );

     /**
     * Add a participant to a deal
     *
     * Adds a participant to a deal.
     *
     * @param id The ID of the deal
     * @param addDealParticipantRequest 
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="addDealParticipant", method="POST", path="/v1/deals/{id}/participants")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="addDealParticipant", method="POST", path="/v1/deals/{id}/participants")
    @jakarta.ws.rs.POST
    @jakarta.ws.rs.Path("/{id}/participants")
    @jakarta.ws.rs.Consumes({"application/json"})
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("addDealParticipant")
    public AddParticipantsResponse addDealParticipant(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        AddDealParticipantRequest addDealParticipantRequest
    );

     /**
     * Add a product to a deal
     *
     * Adds a product to a deal, creating a new item called a deal-product.
     *
     * @param id The ID of the deal
     * @param addDealProductRequest 
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="addDealProduct", method="POST", path="/v1/deals/{id}/products")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="addDealProduct", method="POST", path="/v1/deals/{id}/products")
    @jakarta.ws.rs.POST
    @jakarta.ws.rs.Path("/{id}/products")
    @jakarta.ws.rs.Consumes({"application/json"})
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("addDealProduct")
    public GetAddProductAttachmentDetailsResponse addDealProduct(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        AddDealProductRequest addDealProductRequest
    );

     /**
     * Delete a deal
     *
     * Marks a deal as deleted. After 30 days, the deal will be permanently deleted.
     *
     * @param id The ID of the deal
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="deleteDeal", method="DELETE", path="/v1/deals/{id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="deleteDeal", method="DELETE", path="/v1/deals/{id}")
    @jakarta.ws.rs.DELETE
    @jakarta.ws.rs.Path("/{id}")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("deleteDeal")
    public DeleteDealResponse deleteDeal(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id
    );

     /**
     * Delete a follower from a deal
     *
     * Deletes a follower from a deal.
     *
     * @param id The ID of the deal
     * @param followerId The ID of the follower
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="deleteDealFollower", method="DELETE", path="/v1/deals/{id}/followers/{follower_id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="deleteDealFollower", method="DELETE", path="/v1/deals/{id}/followers/{follower_id}")
    @jakarta.ws.rs.DELETE
    @jakarta.ws.rs.Path("/{id}/followers/{follower_id}")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("deleteDealFollower")
    public DeleteDealFollowerResponse deleteDealFollower(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("follower_id") @jakarta.ws.rs.PathParam("follower_id")Integer followerId
    );

     /**
     * Delete a participant from a deal
     *
     * Deletes a participant from a deal.
     *
     * @param id The ID of the deal
     * @param dealParticipantId The ID of the participant of the deal
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="deleteDealParticipant", method="DELETE", path="/v1/deals/{id}/participants/{deal_participant_id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="deleteDealParticipant", method="DELETE", path="/v1/deals/{id}/participants/{deal_participant_id}")
    @jakarta.ws.rs.DELETE
    @jakarta.ws.rs.Path("/{id}/participants/{deal_participant_id}")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("deleteDealParticipant")
    public DeleteDealParticipantResponse deleteDealParticipant(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("deal_participant_id") @jakarta.ws.rs.PathParam("deal_participant_id")Integer dealParticipantId
    );

     /**
     * Delete an attached product from a deal
     *
     * Deletes a product attachment from a deal, using the `product_attachment_id`  Not possible to delete the attached product if the deal has installments associated and the product is the last one enabled 
     *
     * @param id The ID of the deal
     * @param productAttachmentId The product attachment ID
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="deleteDealProduct", method="DELETE", path="/v1/deals/{id}/products/{product_attachment_id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="deleteDealProduct", method="DELETE", path="/v1/deals/{id}/products/{product_attachment_id}")
    @jakarta.ws.rs.DELETE
    @jakarta.ws.rs.Path("/{id}/products/{product_attachment_id}")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("deleteDealProduct")
    public DeleteDealProductResponse deleteDealProduct(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("product_attachment_id") @jakarta.ws.rs.PathParam("product_attachment_id")Integer productAttachmentId
    );

     /**
     * Delete multiple deals in bulk
     *
     * Marks multiple deals as deleted. After 30 days, the deals will be permanently deleted.
     *
     * @param ids The comma-separated IDs that will be deleted
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="deleteDeals", method="DELETE", path="/v1/deals")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="deleteDeals", method="DELETE", path="/v1/deals")
    @jakarta.ws.rs.DELETE
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("deleteDeals")
    public DeleteDealsResponse deleteDeals(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("ids") @jakarta.ws.rs.QueryParam("ids") String ids
    );

     /**
     * Duplicate deal
     *
     * Duplicates a deal.
     *
     * @param id The ID of the deal
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="duplicateDeal", method="POST", path="/v1/deals/{id}/duplicate")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="duplicateDeal", method="POST", path="/v1/deals/{id}/duplicate")
    @jakarta.ws.rs.POST
    @jakarta.ws.rs.Path("/{id}/duplicate")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("duplicateDeal")
    public GetDuplicatedDealResponse duplicateDeal(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id
    );

     /**
     * Get details of a deal
     *
     * Returns the details of a specific deal. Note that this also returns some additional fields which are not present when asking for all deals – such as deal age and stay in pipeline stages. Also note that custom fields appear as long hashes in the resulting data. These hashes can be mapped against the `key` value of dealFields. For more information, see the tutorial for <a href=\"https://pipedrive.readme.io/docs/getting-details-of-a-deal\" target=\"_blank\" rel=\"noopener noreferrer\">getting details of a deal</a>.
     *
     * @param id The ID of the deal
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getDeal", method="GET", path="/v1/deals/{id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getDeal", method="GET", path="/v1/deals/{id}")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getDeal")
    public GetDealResponse getDeal(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id
    );

     /**
     * List activities associated with a deal
     *
     * Lists activities associated with a deal.
     *
     * @param id The ID of the deal
     * @param start Pagination start
     * @param limit Items shown per page
     * @param done Whether the activity is done or not. 0 = Not done, 1 = Done. If omitted, returns both Done and Not done activities.
     * @param exclude A comma-separated string of activity IDs to exclude from result
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getDealActivities", method="GET", path="/v1/deals/{id}/activities")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getDealActivities", method="GET", path="/v1/deals/{id}/activities")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}/activities")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getDealActivities")
    public GetDealActivitiesResponse getDealActivities(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start") @jakarta.ws.rs.QueryParam("start") Integer start, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("done") @jakarta.ws.rs.QueryParam("done") BigDecimal done, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("exclude") @jakarta.ws.rs.QueryParam("exclude") String exclude
    );

     /**
     * List updates about deal field values
     *
     * Lists updates about field values of a deal.
     *
     * @param id The ID of the deal
     * @param cursor For pagination, the marker (an opaque string value) representing the first item on the next page
     * @param limit Items shown per page
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getDealChangelog", method="GET", path="/v1/deals/{id}/changelog")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getDealChangelog", method="GET", path="/v1/deals/{id}/changelog")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}/changelog")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getDealChangelog")
    public GetChangelogResponse getDealChangelog(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("cursor") @jakarta.ws.rs.QueryParam("cursor") String cursor, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit
    );

     /**
     * List files attached to a deal
     *
     * Lists files associated with a deal.
     *
     * @param id The ID of the deal
     * @param start Pagination start
     * @param limit Items shown per page. Please note that a maximum value of 100 is allowed.
     * @param sort Supported fields: `id`, `update_time`
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getDealFiles", method="GET", path="/v1/deals/{id}/files")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getDealFiles", method="GET", path="/v1/deals/{id}/files")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}/files")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getDealFiles")
    public GetAssociatedFilesResponse getDealFiles(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start") @jakarta.ws.rs.QueryParam("start") Integer start, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("sort") @jakarta.ws.rs.QueryParam("sort") String sort
    );

     /**
     * List followers of a deal
     *
     * Lists the followers of a deal.
     *
     * @param id The ID of the deal
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getDealFollowers", method="GET", path="/v1/deals/{id}/followers")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getDealFollowers", method="GET", path="/v1/deals/{id}/followers")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}/followers")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getDealFollowers")
    public GetListFollowersResponse getDealFollowers(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id
    );

     /**
     * List mail messages associated with a deal
     *
     * Lists mail messages associated with a deal.
     *
     * @param id The ID of the deal
     * @param start Pagination start
     * @param limit Items shown per page
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getDealMailMessages", method="GET", path="/v1/deals/{id}/mailMessages")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getDealMailMessages", method="GET", path="/v1/deals/{id}/mailMessages")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}/mailMessages")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getDealMailMessages")
    public GetAssociatedMailMessagesResponse getDealMailMessages(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start") @jakarta.ws.rs.QueryParam("start") Integer start, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit
    );

     /**
     * List participants of a deal
     *
     * Lists the participants associated with a deal.<br>If a company uses the [Campaigns product](https://pipedrive.readme.io/docs/campaigns-in-pipedrive-api), then this endpoint will also return the `data.marketing_status` field.
     *
     * @param id The ID of the deal
     * @param start Pagination start
     * @param limit Items shown per page
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getDealParticipants", method="GET", path="/v1/deals/{id}/participants")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getDealParticipants", method="GET", path="/v1/deals/{id}/participants")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}/participants")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getDealParticipants")
    public GetDealParticipantsResponse getDealParticipants(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start") @jakarta.ws.rs.QueryParam("start") Integer start, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit
    );

     /**
     * List updates about participants of a deal
     *
     * List updates about participants of a deal. This is a cursor-paginated endpoint. For more information, please refer to our documentation on <a href=\"https://pipedrive.readme.io/docs/core-api-concepts-pagination\" target=\"_blank\" rel=\"noopener noreferrer\">pagination</a>.
     *
     * @param id The ID of the deal
     * @param limit Items shown per page
     * @param cursor For pagination, the marker (an opaque string value) representing the first item on the next page
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getDealParticipantsChangelog", method="GET", path="/v1/deals/{id}/participantsChangelog")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getDealParticipantsChangelog", method="GET", path="/v1/deals/{id}/participantsChangelog")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}/participantsChangelog")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getDealParticipantsChangelog")
    public GetParticipantsChangelogResponse getDealParticipantsChangelog(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("cursor") @jakarta.ws.rs.QueryParam("cursor") String cursor
    );

     /**
     * List all persons associated with a deal
     *
     * Lists all persons associated with a deal, regardless of whether the person is the primary contact of the deal, or added as a participant.<br>If a company uses the [Campaigns product](https://pipedrive.readme.io/docs/campaigns-in-pipedrive-api), then this endpoint will also return the `data.marketing_status` field.
     *
     * @param id The ID of the deal
     * @param start Pagination start
     * @param limit Items shown per page
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getDealPersons", method="GET", path="/v1/deals/{id}/persons")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getDealPersons", method="GET", path="/v1/deals/{id}/persons")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}/persons")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getDealPersons")
    public GetPersonsResponse getDealPersons(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start") @jakarta.ws.rs.QueryParam("start") Integer start, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit
    );

     /**
     * List products attached to a deal
     *
     * Lists products attached to a deal.
     *
     * @param id The ID of the deal
     * @param start Pagination start
     * @param limit Items shown per page
     * @param includeProductData Whether to fetch product data along with each attached product (1) or not (0, default)
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getDealProducts", method="GET", path="/v1/deals/{id}/products")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getDealProducts", method="GET", path="/v1/deals/{id}/products")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}/products")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getDealProducts")
    public GetProductsResponse getDealProducts(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start") @jakarta.ws.rs.QueryParam("start") Integer start, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("include_product_data") @jakarta.ws.rs.QueryParam("include_product_data") BigDecimal includeProductData
    );

     /**
     * List updates about a deal
     *
     * Lists updates about a deal.
     *
     * @param id The ID of the deal
     * @param start Pagination start
     * @param limit Items shown per page
     * @param allChanges Whether to show custom field updates or not. 1 = Include custom field changes. If omitted returns changes without custom field updates.
     * @param items A comma-separated string for filtering out item specific updates. (Possible values - call, activity, plannedActivity, change, note, deal, file, dealChange, personChange, organizationChange, follower, dealFollower, personFollower, organizationFollower, participant, comment, mailMessage, mailMessageWithAttachment, invoice, document, marketing_campaign_stat, marketing_status_change).
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getDealUpdates", method="GET", path="/v1/deals/{id}/flow")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getDealUpdates", method="GET", path="/v1/deals/{id}/flow")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}/flow")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getDealUpdates")
    public GetDealUpdatesResponse getDealUpdates(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start") @jakarta.ws.rs.QueryParam("start") Integer start, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("all_changes") @jakarta.ws.rs.QueryParam("all_changes") String allChanges, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("items") @jakarta.ws.rs.QueryParam("items") String items
    );

     /**
     * List permitted users
     *
     * Lists the users permitted to access a deal.
     *
     * @param id The ID of the deal
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getDealUsers", method="GET", path="/v1/deals/{id}/permittedUsers")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getDealUsers", method="GET", path="/v1/deals/{id}/permittedUsers")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}/permittedUsers")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getDealUsers")
    public GetPermittedUsersResponse getDealUsers(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id
    );

     /**
     * Get all deals
     *
     * Returns all deals. For more information, see the tutorial for <a href=\"https://pipedrive.readme.io/docs/getting-all-deals\" target=\"_blank\" rel=\"noopener noreferrer\">getting all deals</a>.
     *
     * @param userId If supplied, only deals matching the given user will be returned. However, `filter_id` and `owned_by_you` takes precedence over `user_id` when supplied.
     * @param filterId The ID of the filter to use
     * @param stageId If supplied, only deals within the given stage will be returned
     * @param status Only fetch deals with a specific status. If omitted, all not deleted deals are returned. If set to deleted, deals that have been deleted up to 30 days ago will be included.
     * @param start Pagination start
     * @param limit Items shown per page
     * @param sort The field names and sorting mode separated by a comma (`field_name_1 ASC`, `field_name_2 DESC`). Only first-level field keys are supported (no nested keys).
     * @param ownedByYou When supplied, only deals owned by you are returned. However, `filter_id` takes precedence over `owned_by_you` when both are supplied.
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getDeals", method="GET", path="/v1/deals")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getDeals", method="GET", path="/v1/deals")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getDeals")
    public GetDealsResponse getDeals(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("user_id") @jakarta.ws.rs.QueryParam("user_id") Integer userId, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("filter_id") @jakarta.ws.rs.QueryParam("filter_id") Integer filterId, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("stage_id") @jakarta.ws.rs.QueryParam("stage_id") Integer stageId, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("status") @jakarta.ws.rs.QueryParam("status") String status, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start") @jakarta.ws.rs.QueryParam("start") Integer start, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("sort") @jakarta.ws.rs.QueryParam("sort") String sort, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("owned_by_you") @jakarta.ws.rs.QueryParam("owned_by_you") BigDecimal ownedByYou
    );

     /**
     * Get all deals (BETA)
     *
     * Returns all deals. This is a cursor-paginated endpoint that is currently in BETA. For more information, please refer to our documentation on <a href=\"https://pipedrive.readme.io/docs/core-api-concepts-pagination\" target=\"_blank\" rel=\"noopener noreferrer\">pagination</a>. Please note that only global admins (those with global permissions) can access these endpoints. Users with regular permissions will receive a 403 response. Read more about global permissions <a href=\"https://support.pipedrive.com/en/article/global-user-management\" target=\"_blank\" rel=\"noopener noreferrer\">here</a>.
     *
     * @param cursor For pagination, the marker (an opaque string value) representing the first item on the next page
     * @param limit For pagination, the limit of entries to be returned. If not provided, 100 items will be returned. Please note that a maximum value of 500 is allowed.
     * @param since The time boundary that points to the start of the range of data. Datetime in ISO 8601 format. E.g. 2022-11-01 08:55:59. Operates on the `update_time` field.
     * @param until The time boundary that points to the end of the range of data. Datetime in ISO 8601 format. E.g. 2022-11-01 08:55:59. Operates on the `update_time` field.
     * @param userId If supplied, only deals matching the given user will be returned
     * @param stageId If supplied, only deals within the given stage will be returned
     * @param status Only fetch deals with a specific status. If omitted, all not deleted deals are returned. If set to deleted, deals that have been deleted up to 30 days ago will be included.
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getDealsCollection", method="GET", path="/v1/deals/collection")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getDealsCollection", method="GET", path="/v1/deals/collection")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/collection")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getDealsCollection")
    public GetDealsCollectionResponse getDealsCollection(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("cursor") @jakarta.ws.rs.QueryParam("cursor") String cursor, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("since") @jakarta.ws.rs.QueryParam("since") String since, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("until") @jakarta.ws.rs.QueryParam("until") String until, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("user_id") @jakarta.ws.rs.QueryParam("user_id") Integer userId, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("stage_id") @jakarta.ws.rs.QueryParam("stage_id") Integer stageId, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("status") @jakarta.ws.rs.QueryParam("status") String status
    );

     /**
     * Get deals summary
     *
     * Returns a summary of all the deals.
     *
     * @param status Only fetch deals with a specific status. open = Open, won = Won, lost = Lost.
     * @param filterId <code>user_id</code> will not be considered. Only deals matching the given filter will be returned.
     * @param userId Only deals matching the given user will be returned. `user_id` will not be considered if you use `filter_id`.
     * @param pipelineId Only deals within the given pipeline will be returned
     * @param stageId Only deals within the given stage will be returned
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getDealsSummary", method="GET", path="/v1/deals/summary")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getDealsSummary", method="GET", path="/v1/deals/summary")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/summary")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getDealsSummary")
    public GetDealsSummaryResponse getDealsSummary(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("status") @jakarta.ws.rs.QueryParam("status") String status, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("filter_id") @jakarta.ws.rs.QueryParam("filter_id") Integer filterId, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("user_id") @jakarta.ws.rs.QueryParam("user_id") Integer userId, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("pipeline_id") @jakarta.ws.rs.QueryParam("pipeline_id") Integer pipelineId, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("stage_id") @jakarta.ws.rs.QueryParam("stage_id") Integer stageId
    );

     /**
     * Get deals timeline
     *
     * Returns open and won deals, grouped by a defined interval of time set in a date-type dealField (`field_key`) — e.g. when month is the chosen interval, and 3 months are asked starting from January 1st, 2012, deals are returned grouped into 3 groups — January, February and March — based on the value of the given `field_key`.
     *
     * @param startDate The date when the first interval starts. Format: YYYY-MM-DD.
     * @param interval The type of the interval<table><tr><th>Value</th><th>Description</th></tr><tr><td>`day`</td><td>Day</td></tr><tr><td>`week`</td><td>A full week (7 days) starting from `start_date`</td></tr><tr><td>`month`</td><td>A full month (depending on the number of days in given month) starting from `start_date`</td></tr><tr><td>`quarter`</td><td>A full quarter (3 months) starting from `start_date`</td></tr></table>
     * @param amount The number of given intervals, starting from `start_date`, to fetch. E.g. 3 (months).
     * @param fieldKey The date field key which deals will be retrieved from
     * @param userId If supplied, only deals matching the given user will be returned
     * @param pipelineId If supplied, only deals matching the given pipeline will be returned
     * @param filterId If supplied, only deals matching the given filter will be returned
     * @param excludeDeals Whether to exclude deals list (1) or not (0). Note that when deals are excluded, the timeline summary (counts and values) is still returned.
     * @param totalsConvertCurrency The 3-letter currency code of any of the supported currencies. When supplied, `totals_converted` is returned per each interval which contains the currency-converted total amounts in the given currency. You may also set this parameter to `default_currency` in which case the user's default currency is used.
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getDealsTimeline", method="GET", path="/v1/deals/timeline")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getDealsTimeline", method="GET", path="/v1/deals/timeline")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/timeline")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getDealsTimeline")
    public GetDealsTimelineResponse getDealsTimeline(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start_date") @jakarta.ws.rs.QueryParam("start_date") LocalDate startDate, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("interval") @jakarta.ws.rs.QueryParam("interval") String interval, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("amount") @jakarta.ws.rs.QueryParam("amount") Integer amount, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("field_key") @jakarta.ws.rs.QueryParam("field_key") String fieldKey, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("user_id") @jakarta.ws.rs.QueryParam("user_id") Integer userId, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("pipeline_id") @jakarta.ws.rs.QueryParam("pipeline_id") Integer pipelineId, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("filter_id") @jakarta.ws.rs.QueryParam("filter_id") Integer filterId, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("exclude_deals") @jakarta.ws.rs.QueryParam("exclude_deals") BigDecimal excludeDeals, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("totals_convert_currency") @jakarta.ws.rs.QueryParam("totals_convert_currency") String totalsConvertCurrency
    );

     /**
     * Merge two deals
     *
     * Merges a deal with another deal. For more information, see the tutorial for <a href=\"https://pipedrive.readme.io/docs/merging-two-deals\" target=\"_blank\" rel=\"noopener noreferrer\">merging two deals</a>.
     *
     * @param id The ID of the deal
     * @param mergeDealsRequest 
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="mergeDeals", method="PUT", path="/v1/deals/{id}/merge")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="mergeDeals", method="PUT", path="/v1/deals/{id}/merge")
    @jakarta.ws.rs.PUT
    @jakarta.ws.rs.Path("/{id}/merge")
    @jakarta.ws.rs.Consumes({"application/json"})
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("mergeDeals")
    public GetMergedDealResponse mergeDeals(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id,
        MergeDealsRequest mergeDealsRequest
    );

     /**
     * Search deals
     *
     * Searches all deals by title, notes and/or custom fields. This endpoint is a wrapper of <a href=\"https://developers.pipedrive.com/docs/api/v1/ItemSearch#searchItem\">/v1/itemSearch</a> with a narrower OAuth scope. Found deals can be filtered by the person ID and the organization ID.
     *
     * @param term The search term to look for. Minimum 2 characters (or 1 if using `exact_match`). Please note that the search term has to be URL encoded.
     * @param fields A comma-separated string array. The fields to perform the search from. Defaults to all of them. Only the following custom field types are searchable: `address`, `varchar`, `text`, `varchar_auto`, `double`, `monetary` and `phone`. Read more about searching by custom fields <a href=\"https://support.pipedrive.com/en/article/search-finding-what-you-need#searching-by-custom-fields\" target=\"_blank\" rel=\"noopener noreferrer\">here</a>.
     * @param exactMatch When enabled, only full exact matches against the given term are returned. It is <b>not</b> case sensitive.
     * @param personId Will filter deals by the provided person ID. The upper limit of found deals associated with the person is 2000.
     * @param organizationId Will filter deals by the provided organization ID. The upper limit of found deals associated with the organization is 2000.
     * @param status Will filter deals by the provided specific status. open = Open, won = Won, lost = Lost. The upper limit of found deals associated with the status is 2000.
     * @param includeFields Supports including optional fields in the results which are not provided by default
     * @param start Pagination start. Note that the pagination is based on main results and does not include related items when using `search_for_related_items` parameter.
     * @param limit Items shown per page
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="searchDeals", method="GET", path="/v1/deals/search")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="searchDeals", method="GET", path="/v1/deals/search")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/search")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("searchDeals")
    public GetDealSearchResponse searchDeals(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("term") @jakarta.ws.rs.QueryParam("term") String term, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("fields") @jakarta.ws.rs.QueryParam("fields") String fields, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("exact_match") @jakarta.ws.rs.QueryParam("exact_match") Boolean exactMatch, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("person_id") @jakarta.ws.rs.QueryParam("person_id") Integer personId, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("organization_id") @jakarta.ws.rs.QueryParam("organization_id") Integer organizationId, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("status") @jakarta.ws.rs.QueryParam("status") String status, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("include_fields") @jakarta.ws.rs.QueryParam("include_fields") String includeFields, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start") @jakarta.ws.rs.QueryParam("start") Integer start, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit
    );

     /**
     * Update a deal
     *
     * Updates the properties of a deal. For more information, see the tutorial for <a href=\"https://pipedrive.readme.io/docs/updating-a-deal\" target=\"_blank\" rel=\"noopener noreferrer\">updating a deal</a>.
     *
     * @param id The ID of the deal
     * @param updateDealRequest 
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="updateDeal", method="PUT", path="/v1/deals/{id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="updateDeal", method="PUT", path="/v1/deals/{id}")
    @jakarta.ws.rs.PUT
    @jakarta.ws.rs.Path("/{id}")
    @jakarta.ws.rs.Consumes({"application/json"})
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("updateDeal")
    public GetAddedDealResponse updateDeal(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        UpdateDealRequest updateDealRequest
    );

     /**
     * Update the product attached to a deal
     *
     * Updates the details of the product that has been attached to a deal.
     *
     * @param id The ID of the deal
     * @param productAttachmentId The ID of the deal-product (the ID of the product attached to the deal)
     * @param updateDealProductRequest 
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="updateDealProduct", method="PUT", path="/v1/deals/{id}/products/{product_attachment_id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="updateDealProduct", method="PUT", path="/v1/deals/{id}/products/{product_attachment_id}")
    @jakarta.ws.rs.PUT
    @jakarta.ws.rs.Path("/{id}/products/{product_attachment_id}")
    @jakarta.ws.rs.Consumes({"application/json"})
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("updateDealProduct")
    public GetProductAttachmentDetailsResponse updateDealProduct(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("product_attachment_id") @jakarta.ws.rs.PathParam("product_attachment_id")Integer productAttachmentId, 
        UpdateDealProductRequest updateDealProductRequest
    );

}