package dti.crmsis.back.clients.openapi.v1.api;

import java.util.List;
import java.util.Map;


import dti.crmsis.back.clients.openapi.v1.model.GetItemSearchFieldResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetItemSearchResponse;
/**
  * Pipedrive API v1
  * <p>No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)</p>
  */
@jakarta.ws.rs.Path("/itemSearch")
@io.quarkiverse.openapi.generator.annotations.GeneratedClass(value="openapi.yaml", tag = "ItemSearch")
@jakarta.enterprise.context.ApplicationScoped
public interface ItemSearchApi {

     /**
     * Perform a search from multiple item types
     *
     * Performs a search from your choice of item types and fields.
     *
     * @param term The search term to look for. Minimum 2 characters (or 1 if using `exact_match`). Please note that the search term has to be URL encoded.
     * @param itemTypes A comma-separated string array. The type of items to perform the search from. Defaults to all.
     * @param fields A comma-separated string array. The fields to perform the search from. Defaults to all. Relevant for each item type are:<br> <table> <tr><th><b>Item type</b></th><th><b>Field</b></th></tr> <tr><td>Deal</td><td>`custom_fields`, `notes`, `title`</td></tr> <tr><td>Person</td><td>`custom_fields`, `email`, `name`, `notes`, `phone`</td></tr> <tr><td>Organization</td><td>`address`, `custom_fields`, `name`, `notes`</td></tr> <tr><td>Product</td><td>`code`, `custom_fields`, `name`</td></tr> <tr><td>Lead</td><td>`custom_fields`, `notes`, `email`, `organization_name`, `person_name`, `phone`, `title`</td></tr> <tr><td>File</td><td>`name`</td></tr> <tr><td>Mail attachment</td><td>`name`</td></tr> <tr><td>Project</td><td> `custom_fields`, `notes`, `title`, `description` </td></tr> </table> <br> Only the following custom field types are searchable: `address`, `varchar`, `text`, `varchar_auto`, `double`, `monetary` and `phone`. Read more about searching by custom fields <a href=\"https://support.pipedrive.com/en/article/search-finding-what-you-need#searching-by-custom-fields\" target=\"_blank\" rel=\"noopener noreferrer\">here</a>.<br/> When searching for leads, the email, organization_name, person_name, and phone fields will return results only for leads not linked to contacts. For searching leads by person or organization values, please use `search_for_related_items`.
     * @param searchForRelatedItems When enabled, the response will include up to 100 newest related leads and 100 newest related deals for each found person and organization and up to 100 newest related persons for each found organization
     * @param exactMatch When enabled, only full exact matches against the given term are returned. It is <b>not</b> case sensitive.
     * @param includeFields A comma-separated string array. Supports including optional fields in the results which are not provided by default.
     * @param start Pagination start. Note that the pagination is based on main results and does not include related items when using `search_for_related_items` parameter.
     * @param limit Items shown per page
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="searchItem", method="GET", path="/v1/itemSearch")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="searchItem", method="GET", path="/v1/itemSearch")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("searchItem")
    public GetItemSearchResponse searchItem(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("term") @jakarta.ws.rs.QueryParam("term") String term, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("item_types") @jakarta.ws.rs.QueryParam("item_types") String itemTypes, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("fields") @jakarta.ws.rs.QueryParam("fields") String fields, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("search_for_related_items") @jakarta.ws.rs.QueryParam("search_for_related_items") Boolean searchForRelatedItems, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("exact_match") @jakarta.ws.rs.QueryParam("exact_match") Boolean exactMatch, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("include_fields") @jakarta.ws.rs.QueryParam("include_fields") String includeFields, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start") @jakarta.ws.rs.QueryParam("start") Integer start, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit
    );

     /**
     * Perform a search using a specific field from an item type
     *
     * Performs a search from the values of a specific field. Results can either be the distinct values of the field (useful for searching autocomplete field values), or the IDs of actual items (deals, leads, persons, organizations or products).
     *
     * @param term The search term to look for. Minimum 2 characters (or 1 if using `exact_match`). Please note that the search term has to be URL encoded.
     * @param fieldType The type of the field to perform the search from
     * @param exactMatch When enabled, only full exact matches against the given term are returned. The search <b>is</b> case sensitive.
     * @param fieldKey The key of the field to search from. The field key can be obtained by fetching the list of the fields using any of the fields' API GET methods (dealFields, personFields, etc.). Only the following custom field types are searchable: `address`, `varchar`, `text`, `varchar_auto`, `double`, `monetary` and `phone`. Read more about searching by custom fields <a href=\"https://support.pipedrive.com/en/article/search-finding-what-you-need#searching-by-custom-fields\" target=\"_blank\" rel=\"noopener noreferrer\">here</a>.
     * @param returnItemIds Whether to return the IDs of the matching items or not. When not set or set to `0` or `false`, only distinct values of the searched field are returned. When set to `1` or `true`, the ID of each found item is returned.
     * @param start Pagination start
     * @param limit Items shown per page
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="searchItemByField", method="GET", path="/v1/itemSearch/field")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="searchItemByField", method="GET", path="/v1/itemSearch/field")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/field")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("searchItemByField")
    public GetItemSearchFieldResponse searchItemByField(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("term") @jakarta.ws.rs.QueryParam("term") String term, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("field_type") @jakarta.ws.rs.QueryParam("field_type") String fieldType, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("field_key") @jakarta.ws.rs.QueryParam("field_key") String fieldKey, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("exact_match") @jakarta.ws.rs.QueryParam("exact_match") Boolean exactMatch, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("return_item_ids") @jakarta.ws.rs.QueryParam("return_item_ids") Boolean returnItemIds, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start") @jakarta.ws.rs.QueryParam("start") Integer start, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit
    );

}