package dti.crmsis.back.clients.openapi.v1.api;

import java.util.List;
import java.util.Map;


import dti.crmsis.back.clients.openapi.v1.model.AddNewFollowerResponse;
import dti.crmsis.back.clients.openapi.v1.model.AddProductFollowerRequest;
import dti.crmsis.back.clients.openapi.v1.model.AddProductRequest;
import dti.crmsis.back.clients.openapi.v1.model.DeleteProductFollowerResponse;
import dti.crmsis.back.clients.openapi.v1.model.DeleteProductResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetAssociatedDealsResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetAssociatedProductFilesResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetProductFollowersResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetProductResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetProductSearchResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetProductsResponse1;
import dti.crmsis.back.clients.openapi.v1.model.UpdateProductRequest;
import dti.crmsis.back.clients.openapi.v1.model.UpdateProductResponse;
import dti.crmsis.back.clients.openapi.v1.model.UserIds;
/**
  * Pipedrive API v1
  * <p>No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)</p>
  */
@jakarta.ws.rs.Path("/products")
@io.quarkiverse.openapi.generator.annotations.GeneratedClass(value="openapi.yaml", tag = "Products")
@jakarta.enterprise.context.ApplicationScoped
public interface ProductsApi {

     /**
     * Add a product
     *
     * Adds a new product to the Products inventory. For more information, see the tutorial for <a href=\"https://pipedrive.readme.io/docs/adding-a-product\" target=\"_blank\" rel=\"noopener noreferrer\">adding a product</a>.
     *
     * @param addProductRequest 
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="addProduct", method="POST", path="/v1/products")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="addProduct", method="POST", path="/v1/products")
    @jakarta.ws.rs.POST
    @jakarta.ws.rs.Consumes({"application/json"})
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("addProduct")
    public GetProductResponse addProduct(
        AddProductRequest addProductRequest
    );

     /**
     * Add a follower to a product
     *
     * Adds a follower to a product.
     *
     * @param id The ID of the product
     * @param addProductFollowerRequest 
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="addProductFollower", method="POST", path="/v1/products/{id}/followers")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="addProductFollower", method="POST", path="/v1/products/{id}/followers")
    @jakarta.ws.rs.POST
    @jakarta.ws.rs.Path("/{id}/followers")
    @jakarta.ws.rs.Consumes({"application/json"})
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("addProductFollower")
    public AddNewFollowerResponse addProductFollower(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        AddProductFollowerRequest addProductFollowerRequest
    );

     /**
     * Delete a product
     *
     * Marks a product as deleted. After 30 days, the product will be permanently deleted.
     *
     * @param id The ID of the product
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="deleteProduct", method="DELETE", path="/v1/products/{id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="deleteProduct", method="DELETE", path="/v1/products/{id}")
    @jakarta.ws.rs.DELETE
    @jakarta.ws.rs.Path("/{id}")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("deleteProduct")
    public DeleteProductResponse deleteProduct(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id
    );

     /**
     * Delete a follower from a product
     *
     * Deletes a follower from a product.
     *
     * @param id The ID of the product
     * @param followerId The ID of the relationship between the follower and the product
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="deleteProductFollower", method="DELETE", path="/v1/products/{id}/followers/{follower_id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="deleteProductFollower", method="DELETE", path="/v1/products/{id}/followers/{follower_id}")
    @jakarta.ws.rs.DELETE
    @jakarta.ws.rs.Path("/{id}/followers/{follower_id}")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("deleteProductFollower")
    public DeleteProductFollowerResponse deleteProductFollower(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("follower_id") @jakarta.ws.rs.PathParam("follower_id")Integer followerId
    );

     /**
     * Get one product
     *
     * Returns data about a specific product.
     *
     * @param id The ID of the product
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getProduct", method="GET", path="/v1/products/{id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getProduct", method="GET", path="/v1/products/{id}")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getProduct")
    public GetProductResponse getProduct(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id
    );

     /**
     * Get deals where a product is attached to
     *
     * Returns data about deals that have a product attached to it.
     *
     * @param id The ID of the product
     * @param start Pagination start
     * @param limit Items shown per page
     * @param status Only fetch deals with a specific status. If omitted, all not deleted deals are returned. If set to deleted, deals that have been deleted up to 30 days ago will be included.
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getProductDeals", method="GET", path="/v1/products/{id}/deals")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getProductDeals", method="GET", path="/v1/products/{id}/deals")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}/deals")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getProductDeals")
    public GetAssociatedDealsResponse getProductDeals(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start") @jakarta.ws.rs.QueryParam("start") Integer start, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("status") @jakarta.ws.rs.QueryParam("status") String status
    );

     /**
     * List files attached to a product
     *
     * Lists files associated with a product.
     *
     * @param id The ID of the product
     * @param start Pagination start
     * @param limit Items shown per page. Please note that a maximum value of 100 is allowed.
     * @param sort Supported fields: `id`, `update_time`
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getProductFiles", method="GET", path="/v1/products/{id}/files")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getProductFiles", method="GET", path="/v1/products/{id}/files")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}/files")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getProductFiles")
    public GetAssociatedProductFilesResponse getProductFiles(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start") @jakarta.ws.rs.QueryParam("start") Integer start, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("sort") @jakarta.ws.rs.QueryParam("sort") String sort
    );

     /**
     * List followers of a product
     *
     * Lists the followers of a product.
     *
     * @param id The ID of the product
     * @param start Pagination start
     * @param limit Items shown per page
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getProductFollowers", method="GET", path="/v1/products/{id}/followers")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getProductFollowers", method="GET", path="/v1/products/{id}/followers")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}/followers")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getProductFollowers")
    public GetProductFollowersResponse getProductFollowers(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start") @jakarta.ws.rs.QueryParam("start") Integer start, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit
    );

     /**
     * List permitted users
     *
     * Lists users permitted to access a product.
     *
     * @param id The ID of the product
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getProductUsers", method="GET", path="/v1/products/{id}/permittedUsers")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getProductUsers", method="GET", path="/v1/products/{id}/permittedUsers")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}/permittedUsers")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getProductUsers")
    public UserIds getProductUsers(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id
    );

     /**
     * Get all products
     *
     * Returns data about all products.
     *
     * @param userId If supplied, only products owned by the given user will be returned
     * @param filterId The ID of the filter to use
     * @param ids An array of integers with the IDs of the products that should be returned in the response
     * @param firstChar If supplied, only products whose name starts with the specified letter will be returned (case-insensitive)
     * @param getSummary If supplied, the response will return the total numbers of products in the `additional_data.summary.total_count` property
     * @param start Pagination start
     * @param limit Items shown per page
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getProducts", method="GET", path="/v1/products")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getProducts", method="GET", path="/v1/products")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getProducts")
    public GetProductsResponse1 getProducts(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("user_id") @jakarta.ws.rs.QueryParam("user_id") Integer userId, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("filter_id") @jakarta.ws.rs.QueryParam("filter_id") Integer filterId, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("ids") @jakarta.ws.rs.QueryParam("ids") List<Integer> ids, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("first_char") @jakarta.ws.rs.QueryParam("first_char") String firstChar, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("get_summary") @jakarta.ws.rs.QueryParam("get_summary") Boolean getSummary, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start") @jakarta.ws.rs.QueryParam("start") Integer start, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit
    );

     /**
     * Search products
     *
     * Searches all products by name, code and/or custom fields. This endpoint is a wrapper of <a href=\"https://developers.pipedrive.com/docs/api/v1/ItemSearch#searchItem\">/v1/itemSearch</a> with a narrower OAuth scope.
     *
     * @param term The search term to look for. Minimum 2 characters (or 1 if using `exact_match`). Please note that the search term has to be URL encoded.
     * @param fields A comma-separated string array. The fields to perform the search from. Defaults to all of them. Only the following custom field types are searchable: `address`, `varchar`, `text`, `varchar_auto`, `double`, `monetary` and `phone`. Read more about searching by custom fields <a href=\"https://support.pipedrive.com/en/article/search-finding-what-you-need#searching-by-custom-fields\" target=\"_blank\" rel=\"noopener noreferrer\">here</a>.
     * @param exactMatch When enabled, only full exact matches against the given term are returned. It is <b>not</b> case sensitive.
     * @param includeFields Supports including optional fields in the results which are not provided by default
     * @param start Pagination start. Note that the pagination is based on main results and does not include related items when using `search_for_related_items` parameter.
     * @param limit Items shown per page
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="searchProducts", method="GET", path="/v1/products/search")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="searchProducts", method="GET", path="/v1/products/search")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/search")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("searchProducts")
    public GetProductSearchResponse searchProducts(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("term") @jakarta.ws.rs.QueryParam("term") String term, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("fields") @jakarta.ws.rs.QueryParam("fields") String fields, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("exact_match") @jakarta.ws.rs.QueryParam("exact_match") Boolean exactMatch, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("include_fields") @jakarta.ws.rs.QueryParam("include_fields") String includeFields, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start") @jakarta.ws.rs.QueryParam("start") Integer start, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit
    );

     /**
     * Update a product
     *
     * Updates product data.
     *
     * @param id The ID of the product
     * @param updateProductRequest 
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="updateProduct", method="PUT", path="/v1/products/{id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="updateProduct", method="PUT", path="/v1/products/{id}")
    @jakarta.ws.rs.PUT
    @jakarta.ws.rs.Path("/{id}")
    @jakarta.ws.rs.Consumes({"application/json"})
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("updateProduct")
    public UpdateProductResponse updateProduct(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        UpdateProductRequest updateProductRequest
    );

}