package dti.crmsis.back.clients.openapi.v1.api;

import java.util.List;
import java.util.Map;


import dti.crmsis.back.clients.openapi.v1.model.GetProjectBoardResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetProjectPhaseResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetProjectTemplateResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetProjectTemplatesResponse;
/**
  * Pipedrive API v1
  * <p>No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)</p>
  */
@jakarta.ws.rs.Path("")
@io.quarkiverse.openapi.generator.annotations.GeneratedClass(value="openapi.yaml", tag = "ProjectTemplates")
@jakarta.enterprise.context.ApplicationScoped
public interface ProjectTemplatesApi {

     /**
     * Get details of a template
     *
     * Returns the details of a specific project template.
     *
     * @param id The ID of the project template
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getProjectTemplate", method="GET", path="/v1/projectTemplates/{id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getProjectTemplate", method="GET", path="/v1/projectTemplates/{id}")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/projectTemplates/{id}")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getProjectTemplate")
    public GetProjectTemplateResponse getProjectTemplate(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id
    );

     /**
     * Get all project templates
     *
     * Returns all not deleted project templates. This is a cursor-paginated endpoint. For more information, please refer to our documentation on <a href=\"https://pipedrive.readme.io/docs/core-api-concepts-pagination\" target=\"_blank\" rel=\"noopener noreferrer\">pagination</a>.
     *
     * @param cursor For pagination, the marker (an opaque string value) representing the first item on the next page
     * @param limit For pagination, the limit of entries to be returned. If not provided, up to 500 items will be returned.
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getProjectTemplates", method="GET", path="/v1/projectTemplates")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getProjectTemplates", method="GET", path="/v1/projectTemplates")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/projectTemplates")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getProjectTemplates")
    public GetProjectTemplatesResponse getProjectTemplates(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("cursor") @jakarta.ws.rs.QueryParam("cursor") String cursor, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit
    );

     /**
     * Get details of a board
     *
     * Returns the details of a specific project board.
     *
     * @param id The ID of the project board
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getProjectsBoard", method="GET", path="/v1/projects/boards/{id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getProjectsBoard", method="GET", path="/v1/projects/boards/{id}")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/projects/boards/{id}")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getProjectsBoard")
    public GetProjectBoardResponse getProjectsBoard(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id
    );

     /**
     * Get details of a phase
     *
     * Returns the details of a specific project phase.
     *
     * @param id The ID of the project phase
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getProjectsPhase", method="GET", path="/v1/projects/phases/{id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getProjectsPhase", method="GET", path="/v1/projects/phases/{id}")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/projects/phases/{id}")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getProjectsPhase")
    public GetProjectPhaseResponse getProjectsPhase(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id
    );

}