package dti.crmsis.back.clients.openapi.v1.api;

import java.util.List;
import java.util.Map;


import dti.crmsis.back.clients.openapi.v1.model.AddOrUpdateRoleSettingRequest;
import dti.crmsis.back.clients.openapi.v1.model.AddRoleAssignmentRequest;
import dti.crmsis.back.clients.openapi.v1.model.AddRoleAssignmentResponse;
import dti.crmsis.back.clients.openapi.v1.model.AddRoleRequest;
import dti.crmsis.back.clients.openapi.v1.model.AddRolesResponse;
import dti.crmsis.back.clients.openapi.v1.model.BaseRoleRequest;
import dti.crmsis.back.clients.openapi.v1.model.DeleteRoleAssignmentRequest;
import dti.crmsis.back.clients.openapi.v1.model.DeleteRoleAssignmentResponse;
import dti.crmsis.back.clients.openapi.v1.model.DeleteRoleResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetRoleAssignmentsResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetRolePipelinesResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetRoleResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetRoleSettingsResponse;
import dti.crmsis.back.clients.openapi.v1.model.GetRolesResponse;
import dti.crmsis.back.clients.openapi.v1.model.PutRolePipelinesBody;
import dti.crmsis.back.clients.openapi.v1.model.UpdateRoleResponse;
import dti.crmsis.back.clients.openapi.v1.model.UpsertRoleSettingsResponse;
/**
  * Pipedrive API v1
  * <p>No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)</p>
  */
@jakarta.ws.rs.Path("/roles")
@io.quarkiverse.openapi.generator.annotations.GeneratedClass(value="openapi.yaml", tag = "Roles")
@jakarta.enterprise.context.ApplicationScoped
public interface RolesApi {

     /**
     * Add or update role setting
     *
     * Adds or updates the visibility setting for a role.
     *
     * @param id The ID of the role
     * @param addOrUpdateRoleSettingRequest 
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="addOrUpdateRoleSetting", method="POST", path="/v1/roles/{id}/settings")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="addOrUpdateRoleSetting", method="POST", path="/v1/roles/{id}/settings")
    @jakarta.ws.rs.POST
    @jakarta.ws.rs.Path("/{id}/settings")
    @jakarta.ws.rs.Consumes({"application/json"})
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("addOrUpdateRoleSetting")
    public UpsertRoleSettingsResponse addOrUpdateRoleSetting(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        AddOrUpdateRoleSettingRequest addOrUpdateRoleSettingRequest
    );

     /**
     * Add a role
     *
     * Adds a new role.
     *
     * @param addRoleRequest 
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="addRole", method="POST", path="/v1/roles")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="addRole", method="POST", path="/v1/roles")
    @jakarta.ws.rs.POST
    @jakarta.ws.rs.Consumes({"application/json"})
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("addRole")
    public AddRolesResponse addRole(
        AddRoleRequest addRoleRequest
    );

     /**
     * Add role assignment
     *
     * Assigns a user to a role.
     *
     * @param id The ID of the role
     * @param addRoleAssignmentRequest 
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="addRoleAssignment", method="POST", path="/v1/roles/{id}/assignments")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="addRoleAssignment", method="POST", path="/v1/roles/{id}/assignments")
    @jakarta.ws.rs.POST
    @jakarta.ws.rs.Path("/{id}/assignments")
    @jakarta.ws.rs.Consumes({"application/json"})
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("addRoleAssignment")
    public AddRoleAssignmentResponse addRoleAssignment(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        AddRoleAssignmentRequest addRoleAssignmentRequest
    );

     /**
     * Delete a role
     *
     * Marks a role as deleted.
     *
     * @param id The ID of the role
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="deleteRole", method="DELETE", path="/v1/roles/{id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="deleteRole", method="DELETE", path="/v1/roles/{id}")
    @jakarta.ws.rs.DELETE
    @jakarta.ws.rs.Path("/{id}")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("deleteRole")
    public DeleteRoleResponse deleteRole(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id
    );

     /**
     * Delete a role assignment
     *
     * Removes the assigned user from a role and adds to the default role.
     *
     * @param id The ID of the role
     * @param deleteRoleAssignmentRequest 
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="deleteRoleAssignment", method="DELETE", path="/v1/roles/{id}/assignments")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="deleteRoleAssignment", method="DELETE", path="/v1/roles/{id}/assignments")
    @jakarta.ws.rs.DELETE
    @jakarta.ws.rs.Path("/{id}/assignments")
    @jakarta.ws.rs.Consumes({"application/json"})
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("deleteRoleAssignment")
    public DeleteRoleAssignmentResponse deleteRoleAssignment(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        DeleteRoleAssignmentRequest deleteRoleAssignmentRequest
    );

     /**
     * Get one role
     *
     * Returns the details of a specific role.
     *
     * @param id The ID of the role
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getRole", method="GET", path="/v1/roles/{id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getRole", method="GET", path="/v1/roles/{id}")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getRole")
    public GetRoleResponse getRole(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id
    );

     /**
     * List role assignments
     *
     * Returns all users assigned to a role.
     *
     * @param id The ID of the role
     * @param start Pagination start
     * @param limit Items shown per page
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getRoleAssignments", method="GET", path="/v1/roles/{id}/assignments")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getRoleAssignments", method="GET", path="/v1/roles/{id}/assignments")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}/assignments")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getRoleAssignments")
    public GetRoleAssignmentsResponse getRoleAssignments(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start") @jakarta.ws.rs.QueryParam("start") Integer start, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit
    );

     /**
     * List pipeline visibility for a role
     *
     * Returns the list of either visible or hidden pipeline IDs for a specific role. For more information on pipeline visibility, please refer to the <a href=\"https://support.pipedrive.com/en/article/visibility-groups\" target=\"_blank\" rel=\"noopener noreferrer\">Visibility groups article</a>.
     *
     * @param id The ID of the role
     * @param visible Whether to return the visible or hidden pipelines for the role
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getRolePipelines", method="GET", path="/v1/roles/{id}/pipelines")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getRolePipelines", method="GET", path="/v1/roles/{id}/pipelines")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}/pipelines")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getRolePipelines")
    public GetRolePipelinesResponse getRolePipelines(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("visible") @jakarta.ws.rs.QueryParam("visible") Boolean visible
    );

     /**
     * List role settings
     *
     * Returns the visibility settings of a specific role.
     *
     * @param id The ID of the role
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getRoleSettings", method="GET", path="/v1/roles/{id}/settings")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getRoleSettings", method="GET", path="/v1/roles/{id}/settings")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Path("/{id}/settings")
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getRoleSettings")
    public GetRoleSettingsResponse getRoleSettings(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id
    );

     /**
     * Get all roles
     *
     * Returns all the roles within the company.
     *
     * @param start Pagination start
     * @param limit Items shown per page
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="getRoles", method="GET", path="/v1/roles")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="getRoles", method="GET", path="/v1/roles")
    @jakarta.ws.rs.GET
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("getRoles")
    public GetRolesResponse getRoles(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("start") @jakarta.ws.rs.QueryParam("start") Integer start, 
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("limit") @jakarta.ws.rs.QueryParam("limit") Integer limit
    );

     /**
     * Update role details
     *
     * Updates the parent role and/or the name of a specific role.
     *
     * @param id The ID of the role
     * @param baseRoleRequest 
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="updateRole", method="PUT", path="/v1/roles/{id}")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="updateRole", method="PUT", path="/v1/roles/{id}")
    @jakarta.ws.rs.PUT
    @jakarta.ws.rs.Path("/{id}")
    @jakarta.ws.rs.Consumes({"application/json"})
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("updateRole")
    public UpdateRoleResponse updateRole(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        BaseRoleRequest baseRoleRequest
    );

     /**
     * Update pipeline visibility for a role
     *
     * Updates the specified pipelines to be visible and/or hidden for a specific role. For more information on pipeline visibility, please refer to the <a href=\"https://support.pipedrive.com/en/article/visibility-groups\" target=\"_blank\" rel=\"noopener noreferrer\">Visibility groups article</a>.
     *
     * @param id The ID of the role
     * @param putRolePipelinesBody 
     */
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="api_key", openApiSpecId="openapi_yaml", operationId="updateRolePipelines", method="PUT", path="/v1/roles/{id}/pipelines")
    @io.quarkiverse.openapi.generator.markers.OperationMarker(name="oauth2", openApiSpecId="openapi_yaml", operationId="updateRolePipelines", method="PUT", path="/v1/roles/{id}/pipelines")
    @jakarta.ws.rs.PUT
    @jakarta.ws.rs.Path("/{id}/pipelines")
    @jakarta.ws.rs.Consumes({"application/json"})
    @jakarta.ws.rs.Produces({"application/json"})
    @io.quarkiverse.openapi.generator.annotations.GeneratedMethod("updateRolePipelines")
    public GetRolePipelinesResponse updateRolePipelines(
        @io.quarkiverse.openapi.generator.annotations.GeneratedParam("id") @jakarta.ws.rs.PathParam("id")Integer id, 
        PutRolePipelinesBody putRolePipelinesBody
    );

}